#marketplace {
    position: relative;
    /* Border bottom */
    &::after {
        z-index: 9999;
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background: #3b3b3b;
        left: 0;
        bottom: 0px;
    }
}

.marketplace-top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;

    h2 {
        color: var(--White, #fff);

        /* H2 - Work Sans */
        font-family: "Work Sans";
        font-size: 51px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%; /* 56.1px */
        text-transform: capitalize;
    }
    p {
        color: var(--White, #fff);
        font-family: "Work Sans";
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 35.2px */
    }
    input#search {
        display: flex;
        width: 100%;
        height: 60px;
        padding: 12px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 20px;
        background-color: transparent;
        border: 1px solid var(--Background---Secondary, #3b3b3b);
        color: #fff;
        /* Base(Body) - Work Sans */
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
        placeholder {
            color: var(--caption-label-text, #858584);
        }
    }
    label {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 15px 20px;
    }
}

#nfts {
    position: relative;

    background-color: #3b3b3b;
    a {
        position: absolute;
        border-radius: 30px;
        background-color: #2b2b2b;
        border: 2px solid var(--Call-to-Action, #a259ff);
        color: var(--White, #fff);
        display: flex;
        height: 60px;
        padding: 0px 50px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        bottom: 0;
        right: 0;
        img {
            width: 24px;
        }
    }
    a:hover {
        background-color: #a259ff;
        border: 2px solid #2b2b2b;
        cursor: pointer;
    }
    a#nft-bottom-a {
        display: none;
    }
    /* Border bottom */
    &::after {
        z-index: 9999;
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background: #2b2b2b;
        left: 0;
        bottom: 0px;
    }
}


/*! -------------- NFT TOP -------------- */
.nft-top {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    display: flex;
    gap: 30px;
    width: 100%;
    background-color: #2b2b2b;
}

.nft-top-left,
.nft-top-right {
    position: relative;
    display: flex;
    padding: 1rem;
    gap: 16px;
    width: 49%;
    justify-content: center;
    align-items: center;
    transition: all 2s ease;
    h5 {
        color: var(--White, #fff);
        text-align: center;

        /* H5 - Work Sans */
        font-family: "Work Sans";
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 30.8px */
        text-transform: capitalize;
    }
    span {
        display: flex;
        padding: 5px 10px;
        align-items: center;
        gap: 10px;
        border-radius: 20px;
        background: #858584;
        color: #fff;

        /* Base (Body) - Space Mono */
        font-family: "Space Mono";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
    }
}

.selected::after{
    transition: all 2s ease;
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: #858584;
    bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    animation: fromBottom 0.5s ease;
}
.not-selected{
    transition: all 0.3s ease;
    opacity: 0.3;
}
@keyframes fromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}



/*! -------------- NFT BOTTOM -------------- */
.nft-bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.nft-item{
    position: relative;
    #heart{
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        border: none;
        top: 15px;
        right: 15px;
        width: 25px;
        height: 25px;
    }
}

.nft-item,.skeleton {
    width: 31.5%;
    margin-bottom: 20px;
}
.skeleton {
    height: 75vh;
    border-radius: 20px;
    animation: skeleton 1s infinite;
}
@keyframes skeleton {
    0% {
        background-color: #2b2b2b;
    }
    50% {
        background-color: #3b3b3b;
    }
    100% {
        background-color: #2b2b2b;
    }
}

.nft-image {
    width: 100%;
    height: 70%;
    img {
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.nft-image-bottom {
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    width: 100%;
    display: flex;
    padding: 20px 30px 25px 30px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    background: #2b2b2b;
    gap: 10px;
    h5 {
        color: #fff;
        /* H5 - Work Sans */
        font-family: "Work Sans";
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 30.8px */
        text-transform: capitalize;
    }
    .nft-image-bottom__bottom {
        display: flex;
        gap: 10px;
        align-items: center;

        img {
            overflow: hidden;
            border-radius: 120px;
            width: 24px;
            height: 24px;
        }
        color: var(--White, #fff);

        /* Base (Body) - Space Mono */
        font-family: "Space Mono";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
    }
}

#load-more {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 60px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background:  #a259ff;
    padding: 20px;
    color: #fff;
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
}

.nft-price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .price-left,
    .price-right {
        display: flex;
        gap: 7px;
        flex-direction: column;
        p {
            color: #858584;
            font-family: "Work Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
            text-transform: capitalize;
        }
        span {
            color: var(--White, #fff);

            /* Base (Body) - Space Mono */
            font-family: "Space Mono";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
        }
    }
}


/*! -------------- RESPONSIVE -------------- */

@media (max-width: 1280px) {
    .nft-bottom {
        flex-wrap: wrap;
    }
    .nft-item,.skeleton {
        width: 47.5% !important;
    }
}

@media (max-width: 835px) {
    .nft-item,.skeleton {
        width: 100% !important;
    }
    #nfts {
        a {
            display: none;
        }
        a#nft-bottom-a {
            position: relative;
            display: flex !important;
            width: 100% !important;
        }
    }
    #load-more{
        width: 100%;
    }
}