#artist-top {
    height: 320px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    #profile-img {
        position: absolute;
        bottom: -60px;
        z-index: 2;
        display: flex;
        width: 120px;
        height: 120px;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    }

    #bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    background: linear-gradient(
        180deg,
        rgba(151, 71, 255, 0) 21.88%,
        #a259ff 95.31%
    );
}

#creator-info {
    display: flex;
    gap: 30px;
    flex-direction: row;
    width: 100%;
    background-color: #2b2b2b;
}

.creator-info-left {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 20px;

    h2 {
        color: var(--White, #fff);

        /* H2 - Work Sans */
        font-family: "Work Sans";
        font-size: 51px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%; /* 56.1px */
        text-transform: capitalize;
    }
    .counts {
        display: flex;
        gap: 30px;
        align-self: stretch;
        text-align: left;
        h2 {
            align-self: stretch;
            color: var(--White, #fff);

            /* H4 - Space Mono */
            font-family: "Space Mono";
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%; /* 39.2px */
            text-transform: capitalize;
        }
        p {
            color: var(--White, #fff);
            font-family: "Work Sans";
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 38.384px */
            text-transform: capitalize;
        }
        div {
            width: 150px;
        }
    }
    h5 {
        color: #858584;

        /* H5 - Space Mono */
        font-family: "Space Mono";
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 35.2px */
        text-transform: capitalize;
    }
    p {
        color: var(--White, #fff);

        /* Body Text- Work Sans */
        font-family: "Work Sans";
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 35.2px */
        text-transform: capitalize;
    }
    img {
        width: 200px;
        cursor: pointer;
    }
}

.creator-info-right {
    display: flex;
    width: 50%;
    gap: 20px;
    flex-direction: row;
    a {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
        border-radius: 20px;
        color: #fff;
        text-align: center;
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 22.4px */
        transition: all 0.3s ease;
        &:hover {
            transition: all 0.3s ease;
            transform: scale(1.02);
        }
    }
    a img {
        width: 20px;
        height: 20px;
    }
    a:first-child {
        display: flex;
        width: 50%;
        height: 60px;
        padding: 0px 50px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border-radius: 20px;
        background: var(--Call-to-Action, #a259ff);
        border: 2px solid var(--Call-to-Action, #a259ff);
    }
    a:last-child {
        display: flex;
        width: 50%;
        height: 60px;
        padding: 0px 30px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        border-radius: 20px;
        border: 2px solid var(--Call-to-Action, #a259ff);
    }
}

#creators {
    position: relative;

    background-color: #3b3b3b;
    a {
        position: absolute;
        border-radius: 30px;
        background-color: #2b2b2b;
        border: 2px solid var(--Call-to-Action, #a259ff);
        color: var(--White, #fff);
        display: flex;
        height: 60px;
        padding: 0px 50px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        bottom: 0;
        right: 0;
        img {
            width: 24px;
        }
    }
    a:hover {
        background-color: #a259ff;
        border: 2px solid #2b2b2b;
        cursor: pointer;
    }
    a#creator-bottom-a {
        display: none;
    }
    /* Border bottom */
    &::after {
        z-index: 9999;
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background: #2b2b2b;
        left: 0;
        bottom: 0px;
    }
}

.creator-top {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    display: flex;
    gap: 30px;
    width: 100%;
    background-color: #2b2b2b;
}
.creator-top-left,
.creator-top-middle,
.creator-top-right {
    position: relative;
    display: flex;
    padding: 1rem;
    gap: 16px;
    width: 32%;
    justify-content: center;
    align-items: center;
    h5 {
        color: var(--White, #fff);
        text-align: center;

        /* H5 - Work Sans */
        font-family: "Work Sans";
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 30.8px */
        text-transform: capitalize;
    }
    span {
        display: flex;
        padding: 5px 10px;
        align-items: center;
        gap: 10px;
        border-radius: 20px;
        background: #858584;
        color: #fff;

        /* Base (Body) - Space Mono */
        font-family: "Space Mono";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
    }
}
.creator-top-left {
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        background: #858584;
        bottom: 0px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}
.creator-top-middle,
.creator-top-right {
    opacity: 0.5;
}

.creator-bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.creator-item {
    width: 31.5%;
    margin-bottom: 20px;
}
.creator-image {
    width: 100%;
    height: 70%;
    img {
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.creator-image-bottom {
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    width: 100%;
    display: flex;
    padding: 20px 30px 25px 30px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    background: #2b2b2b;
    gap: 10px;
    h5 {
        color: #fff;
        /* H5 - Work Sans */
        font-family: "Work Sans";
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 30.8px */
        text-transform: capitalize;
    }
    .creator-image-bottom__bottom {
        display: flex;
        gap: 10px;
        align-items: center;

        img {
            overflow: hidden;
            border-radius: 120px;
            width: 24px;
            height: 24px;
        }
        color: var(--White, #fff);

        /* Base (Body) - Space Mono */
        font-family: "Space Mono";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
    }
}

@media (max-width: 1280px) {
    .creator-bottom {
        flex-wrap: wrap;
    }
    .creator-item {
        width: 47.5% !important;
    }
}

@media (max-width: 835px) {
    #profile-img{
        left: 50%;
        transform: translateX(-50%);
        bottom:-20px !important;
    }
    .creator-top {
        gap: 10px;
    }
    .creator-top-left,
    .creator-top-middle,
    .creator-top-right {
        h5 {
            font-size: 18px;
        }
        span {
            display: none;
        }
    }
    .creator-item {
        width: 100% !important;
    }
    #creators {
        a {
            display: none;
        }
        a#creator-bottom-a {
            position: relative;
            display: flex !important;
            width: 100% !important;
        }
    }
    .load-more {
        width: 100%;
    }
    .creator-info-right {
        display: none;
    }
    .creator-info-left {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .creator-info-right.show {
        display: flex !important;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        a {
            width: 100%;
        }
    }
}

.creator-price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .price-left,
    .price-right {
        display: flex;
        gap: 7px;
        flex-direction: column;
        p {
            color: #858584;
            font-family: "Work Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
            text-transform: capitalize;
        }
        span {
            color: var(--White, #fff);

            /* Base (Body) - Space Mono */
            font-family: "Space Mono";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
        }
    }
}

.creator-info-right.show {
    display: none;
}
