#discover {
    display: flex;
    gap: 40px;
    align-self: stretch;
}

#getstart {
    border-radius: 20px;
    background: #a259ff;
    display: flex;
    color: #fff;
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    height: 60px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: 1px solid #a259ff;
    transition: all 0.3s ease;
    &:hover {
        background-color: #2b2b2b;
        border-radius: 20px;
        border: #a259ff 1px solid;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    img {
        width: 20px;
    }
    @media (max-width: 835px) {
        width: 100%;
    }
}

.discover-left-top {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    h3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--White, #fff);

        /* h3 - Work Sans */
        font-family: "Work Sans";
        font-size: 67px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%; /* 73.7px */
        text-transform: capitalize;
    }
    h5 {
        align-self: stretch;
        color: var(--White, #fff);
        /* Body Text- Work Sans */
        font-family: "Work Sans";
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 35.2px */
        text-transform: capitalize;
    }
}

.discover-left-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
    border-radius: 20px;
}
.discover-left-bottom.second {
    display: none;
}

.discover-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-self: stretch;
    width: 50%;
}

.discover-right {
    border-radius: 20px;
    overflow: hidden;
    width: 50%;
    display: flex;
    height: 510px;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    transition: all 0.3s ease;
    &:hover{
        transition: all 0.3s ease;
        transform: scale(0.95);
        cursor: pointer;
    }
}

.image-top {
    width: 100%;
    height: 80%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.image-bottom {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #3b3b3b;
    gap: 10px;
    h5 {
        color: #fff;

        /* H5 - Work Sans */
        font-family: "Work Sans";
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 30.8px */
        text-transform: capitalize;
    }
    .image-bottom__bottom {
        display: flex;
        gap: 10px;
        align-items: center;

        img {
            overflow: hidden;
            border-radius: 120px;
            width: 24px;
            height: 24px;
        }
        color: var(--White, #fff);

        /* Base (Body) - Space Mono */
        font-family: "Space Mono";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
    }
}

.counts {
    display: flex;
    gap: 30px;
    align-self: stretch;
    text-align: center;
    h2 {
        align-self: stretch;
        color: var(--White, #fff);

        /* H4 - Space Mono */
        font-family: "Space Mono";
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%; /* 39.2px */
        text-transform: capitalize;
    }
    p {
        color: var(--White, #fff);
        font-family: "Work Sans";
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 38.384px */
        text-transform: capitalize;
    }
    div {
        width: 150px;
    }
}

@media (min-width: 1035px) {
    .counts {
        div {
            text-align: start !important;
        }
    }
    .discover-right {
        width: 310px !important;
    }
}

@media (max-width: 1035px) {
    .discover-left-top {
        flex: 0 0 0;
        h3 {
            color: var(--White, #fff);

            /* H3 - Work Sans */
            font-family: "Work Sans";
            font-size: 38px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 45.6px */
            text-transform: capitalize;
        }
        h5 {
            color: var(--White, #fff);
            /* Base(Body) - Work Sans */
            font-family: "Work Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
        }
    }
    .discover-right {
        height: 330px;
    }
    .image-bottom {
        padding: 5px 20px;
        h5 {
            color: #fff;
            /* H5 - Work Sans */
            font-family: "Work Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 22.4px */
            text-transform: capitalize;
        }
    }
}

@media (max-width: 835px) {
    #discover {
        display: flex;
        padding: 40px;
        gap: 40px;
        align-self: stretch;
        flex-direction: column;
    }
    .discover-left {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-self: stretch;
        width: 100%;
    }
    .discover-right {
        width: 100%;
        flex: 0 1 auto;
    }
    .counts {
        width: 100%;
        div {
            width: 32%;
        }
    }
    .discover-left-bottom.first {
        display: none;
    }
    .discover-left-bottom.second {
        display: flex;
    }
}

/* TRENDS */

#trending {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-self: stretch;
}
.trending-top {
    h3 {
        flex: 1 0 0;
        color: var(--White, #fff);
        /* H3 - Work Sans */
        font-family: "Work Sans";
        font-size: 38px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 45.6px */
        text-transform: capitalize;
    }
    p {
        flex: 1 0 0;
        color: var(--White, #fff);
        /* Body Text- Work Sans */
        font-family: "Work Sans";
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 35.2px */
        text-transform: capitalize;
    }
}

.trends {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    gap: 30px;
    align-self: stretch;
    overflow: hidden;
}
.trend {
    width: 330px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    img,
    p {
        transition: all 0.3s ease;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    img:hover,
    p:hover {
        transition: all 0.3s ease;
        transform: scale(0.95);
        cursor: pointer;
    }
}

.trend-top {
    width: 100%;
    height: 330px;
    border-radius: 20px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.trend-middle {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    img {
        width: 100px;
        height: 100px;
        border-radius: 20px;
    }
    p {
        width: 100px;
        height: 100px;
        color: #fff;
        text-align: center;

        /* H5 - Space Mono */
        font-family: "Space Mono";
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 35.2px */
        text-transform: capitalize;

        background: #a259ff;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.trend-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h5 {
        color: #fff;
        /* H5 - Work Sans */
        font-family: "Work Sans";
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 30.8px */
        text-transform: capitalize;
    }
    img {
        width: 24px;
        height: 24px;
        border-radius: 120px;
    }
}

.trend-bottom__bottom {
    display: flex;
    gap: 10px;
    align-items: center;
    span {
        color: #fff;

        /* Base(Body) - Work Sans */
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
    }
}

@media (max-width: 1200px) {
    .trend:nth-child(3) {
        display: none;
    }
}

@media (max-width: 935px) {
    .trend:nth-child(2) {
        display: none;
    }
}

@media (max-width: 835px) {
    .trend {
        width: 100%;
        .trend-middle img {
            width: 30%;
        }
        p {
            width: 30%;
        }
    }
    .trend:nth-child(2) {
        display: none;
    }
}

/* Creators */

#creators {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-self: stretch;
    transition: all 0.3s ease;
}

.creators-top {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-self: stretch;
    position: relative;
    transition: all 0.3s ease;
    h3 {
        color: var(--White, #fff);
        /* H3 - Work Sans */
        font-family: "Work Sans";
        font-size: 38px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 45.6px */
        text-transform: capitalize;
    }
    p {
        color: var(--White, #fff);
        /* Body Text- Work Sans */
        font-family: "Work Sans";
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 35.2px */
        text-transform: capitalize;
    }
    a {
        position: absolute;
        border-radius: 30px;
        background-color: #2b2b2b;
        border: 2px solid var(--Call-to-Action, #a259ff);
        color: var(--White, #fff);
        display: flex;
        height: 60px;
        padding: 0px 50px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        bottom: 0;
        right: 0;
        img {
            width: 24px;
        }
    }
    a:hover {
        transition: all 0.3s ease;

        background-color: #a259ff;
        border: 2px solid #2b2b2b;
        cursor: pointer;
    }
}

.creators {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.creator {
    cursor: pointer !important;
    width: 22.8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 20px;
    background: #3b3b3b;
    transition: all 0.3s ease;
    img {
        border-radius: 50%;
        width: 120px;
        overflow: hidden;
        margin-bottom: 20px;
    }
    h5 {
        color: #fff;
        /* H5 - Work Sans */
        font-family: "Work Sans";
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 30.8px */
        text-transform: capitalize;
    }

    .creator-span2 {
        color: var(--Text, #fff) !important;

        /* Base (Body) - Space Mono */
        font-family: "Space Mono";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
    }

    span {
        color: var(--caption-label-text, #858584);
        text-align: right;

        /* Base(Body) - Work Sans */
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
    }
    .creator-id {
        display: flex;
        position: absolute;
        width: 30px;
        height: 30px;
        background: #2b2b2b;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        top: 10px;
        left: 10px;
    }
    &:hover {
        transition: all 0.3s ease;
        transform: scale(0.95);
    }
}

@media (max-width: 1329px) {
    #creators {
        a {
            display: none;
        }
    }
}

@media (max-width: 1300px) {
    .creators {
        flex-wrap: wrap;
    }
    .creator {
        width: 47%;
        text-align: left !important;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        img {
            width: 60px;
            height: 60px;
            display: inline;
            margin: 0;
        }
        .creator-bottom {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
            span {
                text-align: left;
            }
        }
    }
}

@media (max-width: 1100px) {
    .creator {
        width: 100%;
    }
}

/* END*/

#categories {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-self: stretch;
}

.categories-top {
    h4 {
        color: var(--White, #fff);
        /* H4 - Work Sans */
        font-family: "Work Sans";
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 39.2px */
        text-transform: capitalize;
    }
}
.categories-bottom {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.category {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    height: 380px;
    border-radius: 20px;
    overflow: hidden;
    width: 22.5%;
    transition: all 0.3s ease;
    position: relative;
    &:hover {
        transition: all 0.3s ease;
        transform: scale(0.95);
        cursor: pointer;
    }
    img {
        width: 100%;
        height: 80%;
        object-fit: cover;
        filter: blur(5px);
    }
    h5 {
        height: 20%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 20px 30px 25px;
        background-color: #3b3b3b;
    }
    img.absolute {
        filter: blur(0);
        object-fit: fill;
        width: 50%;
        height: 50%;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}

@media (max-width: 1280px) {
    .categories-bottom {
        gap: 8px;
    }
    .category {
        width: 48.5%;
        max-height: 200px;
    }
}

/* END */

i {
    transition: all 0.5s;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 14px;
    top: 54%;
    color: #ff0000;
    opacity: 0.7;
    transform: translateY(-50%);
    cursor: pointer;
}

/* NFT */

#nfts {
    a {
        position: absolute;
        border-radius: 30px;
        background-color: #2b2b2b;
        border: 2px solid var(--Call-to-Action, #a259ff);
        color: var(--White, #fff);
        display: flex;
        height: 60px;
        padding: 0px 50px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        bottom: 0;
        right: 0;
        transition: all 0.3s ease;
        img {
            width: 24px;
        }

    }
    a:hover {
        background-color: #a259ff;
        border: 2px solid #2b2b2b;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover{
            img{
                filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
            }
        }
    }
    a#nft-bottom-a {
        display: none;
    }
}
.nft-top {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-self: stretch;
    position: relative;
    h3 {
        color: var(--White, #fff);
        /* H3 - Work Sans */
        font-family: "Work Sans";
        font-size: 38px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 45.6px */
        text-transform: capitalize;
    }
    p {
        color: var(--White, #fff);
        /* Body Text- Work Sans */
        font-family: "Work Sans";
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 35.2px */
        text-transform: capitalize;
    }
   
}
.nft-bottom {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    justify-content: space-between;
}

.nft-item {
    width: 33%;
    transition: all 0.3s ease;
    &:hover {
        transition: all 0.3s ease;
        transform: scale(0.95);
        cursor: pointer;
    }
}
.nft-image {
    width: 100%;
    height: 70%;
    img {
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.nft-image-bottom {
    border-radius: 0 0 20px 20px;
    overflow: hidden;
    width: 100%;
    display: flex;
    padding: 20px 30px 25px 30px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    background: #3b3b3b;
    gap: 10px;
    h5 {
        color: #fff;
        /* H5 - Work Sans */
        font-family: "Work Sans";
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 30.8px */
        text-transform: capitalize;
    }
    .nft-image-bottom__bottom {
        display: flex;
        gap: 10px;
        align-items: center;

        img {
            overflow: hidden;
            border-radius: 120px;
            width: 24px;
            height: 24px;
        }
        color: var(--White, #fff);

        /* Base (Body) - Space Mono */
        font-family: "Space Mono";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
    }
}


@media (max-width: 1280px) {
    .nft-bottom {
        flex-wrap: wrap;
    }
    .nft-item {
        width: 47% !important;
    }
}

@media (max-width: 835px) {
    .nft-item {
        width: 100% !important;
    }
    #nfts {
        a {
            display: none;
        }
        a#nft-bottom-a {
            position: relative;
            display: flex !important;
            width: 100% !important;
            margin-top: 40px;
        }
    }
}

.nft-price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .price-left,
    .price-right {
        display: flex;
        gap: 7px;
        flex-direction: column;
        p {
            color: #858584;
            font-family: "Work Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
            text-transform: capitalize;
        }
        span {
            color: var(--White, #fff);

            /* Base (Body) - Space Mono */
            font-family: "Space Mono";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
        }
    }
}

/* END */

#mashroom {
    display: flex;
    flex-direction: row;
    background-image: url("https://s3-alpha-sig.figma.com/img/a6f4/3f93/50c73503d13e1fe1a0e3277804ef1192?Expires=1726444800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=DEOtN8q40jqNdMJINIIJE8AeM0dq0WNooc9GgY658KadhijN92yj3uoFFX-ANz4bAYuLzPlBDD5gfMT4oAH39TT2yULdA9llDxUIg7YQuH4n04iFgYn8blFSddbzdFwVdfXjfJDZcQnqhtmB0tYCIzSdqixFJPuYPkiB02aF49REEUbKeFQXP9R3ohE4uP4EfCjI~~sOygNEelkX0u6PAncZnjVCLU~uANOqK5mv9jRMM5BRjxTfZQOWxpGlEUHvRVMEK-xe7SQEDBJgWeI1eZdMglPkMpB8CIb2j1nELJpeaWhghh0PduopY1ZtO5xJOs9cybvftGZ-Ug~CA8S7xw__");
    background-size: cover;
    display: flex;
    padding: 360px 195px 60px 195px !important;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    position: relative;
}
#mashroom:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
    z-index: 0;
}

.mashroom-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-self: stretch;
    width: 50%;
    z-index: 1;
    h3 {
        color: #fff;

        /* H3 - Work Sans */
        font-family: "Work Sans";
        font-size: 38px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 45.6px */
        text-transform: capitalize;
    }
}
#mashroom a {
    z-index: 1;
    width: fit-content;
    display: flex;
    height: 60px;
    padding: 22px 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    color: var(--Background, #2b2b2b);
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    background: var(--Text, #fff);
    border: 1px solid var(--Text, #fff);
    transition: all 0.3s ease;
    &:hover {
        transition: all 0.3s ease;
        background-color: #2b2b2b;
        color: var(--Text, #fff);
    }
}

.artist-card {
    width: fit-content;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background: #3b3b3b;
    img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }
    p {
        color: #fff;

        /* Base(Body) - Work Sans */
        font-family: "Work Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 22.4px */
    }
}

.mashroom-right {
    z-index: 1;
    display: flex;
    width: 295px;
    padding: 30px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(59, 59, 59, 0.5);
    backdrop-filter: blur(5px);
    p {
        color: var(--Text, #fff);

        /* Caption - Space Mono */
        font-family: "Space Mono";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 110%; /* 13.2px */
    }
}

.mashroom-right__bottom {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    span {
        color: var(--Text, #fff);
        /* H3 - Space Mono */
        font-family: "Space Mono";
        font-size: 38px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 45.6px */
        text-transform: capitalize;
        margin-bottom: 18px;
    }
}

.hours,
.minutes,
.seconds {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hours-top,
.minutes-top,
.seconds-top {
    color: var(--Text, #fff);

    /* H3 - Space Mono */
    font-family: "Space Mono";
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 45.6px */
    text-transform: capitalize;
}

.hours-bottom,
.minutes-bottom,
.seconds-bottom {
    color: var(--Text, #fff);

    /* Caption - Space Mono */
    font-family: "Space Mono";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 13.2px */
}

#mashroom {
    a {
        display: flex;
    }
    a#mashroom-bottom-a {
        display: none;
    }
}

@media (max-width: 835px) {
    #mashroom {
        padding: 40px!important;
        flex-direction: column;
        gap: 40px;
        align-items: flex-start;
        a {
            display: none;
        }
        a#mashroom-bottom-a {
            display: flex;
        }
    }
    .mashroom-left {
        width: 100%;
    }
}

@media (max-width: 768px) {
    #mashroom {
        a#mashroom-bottom-a {
            width: 100%;
        }
    }
    .mashroom-right {
        width: 100%;
    }
}

/* END */

#howitworks {
    display: flex;
    gap: 40px;
    align-self: stretch;
    flex-direction: column;
}

.howitworks-top {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-self: stretch;
    width: 50%;
    h3 {
        color: var(--White, #fff);
        /* H3 - Work Sans */
        font-family: "Work Sans";
        font-size: 38px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 45.6px */
        text-transform: capitalize;
    }
    p {
        color: var(--White, #fff);
        /* Body Text- Work Sans */
        font-family: "Work Sans";
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 35.2px */
        text-transform: capitalize;
    }
}

.howitworks-bottom {
    display: flex;
    gap: 30px;
    align-self: stretch;
    flex-wrap: wrap;
}

.howitwork {
    background-color: #3b3b3b;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    width: 31%;
    img {
        width: 100%;
        height: 70%;
        object-fit: cover;
    }
    .howitwork-bottom {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h5 {
            color: #fff;
            text-align: center;

            /* H5 - Work Sans */
            font-family: "Work Sans";
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%; /* 30.8px */
            text-transform: capitalize;
        }
        p {
            color: var(--White, #fff);
            text-align: center;

            /* Base(Body) - Work Sans */
            font-family: "Work Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 22.4px */
        }
    }
}

@media (max-width: 1280px) {
    .howitwork {
        width: 47% !important;
    }
}

@media (max-width: 835px) {
    .howitwork {
        flex-direction: row;
        height: fit-content;
        width: 100% !important;
        img {
            width: 40%;
            height: 40%;
        }
        .howitwork-bottom {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 25px;
            h5 {
                text-align: left;
            }
            p {
                text-align: left;
            }
        }
    }
}

/* END */

.join-wrapper {
    border-radius: 20px;
    background: #3b3b3b;
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding: 60px;
}

.join-left {
    width: 50%;
    img {
        border-radius: 20px;
        overflow: hidden;

        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.join-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
    justify-content: center;
    h3 {
        color: #fff;
        /* H3 - Work Sans */
        font-family: "Work Sans";
        font-size: 38px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%; /* 45.6px */
        text-transform: capitalize;
    }
    p {
        color: var(--White, #fff);

        /* Body Text- Work Sans */
        font-family: "Work Sans";
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 35.2px */
        text-transform: capitalize;
    }
}

.join-right form {
    position: relative;
    display: flex;
    width: 100%;
    height: 60px;
    padding: 16px 0px 16px 20px;
    align-items: center;
    border-radius: 20px;
    background: #fff;
    button {
        display: flex;
        height: 60px;
        padding: 0px 50px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        a {
            margin-bottom: 0px !important;
            color: #fff !important;
        }
    }
    input {
        padding: 0.5rem 0;
        width: 50%;
        border: none;
        margin-bottom: 0;
        line-height: 140%;
        &:focus {
            outline: none;
        }
    }
    &::after {
        bottom: -30px !important;
        border: none !important;
        left: 20px !important;
    }
    label {
        position: absolute;
        top: 31%;
    }
    label ~ input {
        padding-left: 30px;
    }
    
}


@media (max-width: 1080px) {
    .join-wrapper {
        gap: 30px;
    }
    .join-right {
        form {
            background-color: transparent;
            height: fit-content;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 0;
            label {
                z-index: 2;
                top: 20%;
                transform: translateY(-50%);
                left: 18px;
                height: 20px;
                width: 20px;
                position: absolute;
                color: black;
            }
            input {
                position: relative;
                width: 100%;
                display: flex;
                height: 46px;
                padding-left: 40px !important;
                padding: 16px 70px;
                align-items: center;
                gap: 12px;
                align-self: stretch;
                border-radius: 20px;
                border: 1px solid var(--caption-label-text, #858584);
                background: var(--Text, #fff);
            }
            button {
                width: 100% !important;
                transform: translateY(0);
                display: flex;
                height: 46px;
                padding: 16px 45px;
                align-items: center;
            }
        }
    }
}

@media (max-width: 835px) {
    .join-wrapper {
        border-radius: 20px;
        background: #2b2b2b;
        flex-direction: column;
        gap: 80px;
        padding: 0;
    }
    .join-left {
        width: 100%;
    }
    .join-right {
        width: 100%;
    }
}
